<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teampyroxinc.cricketfever">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseSide" />
        <activity android:name=".Batting_First" />
        <activity android:name=".Bowling_First" />
        <activity android:name=".MidActivity" />
        <activity android:name=".EndActivity" />
        <activity android:name=".Batting_Second" />
        <activity android:name=".Bowling_Second" />
        <activity android:name=".SearchPeers" />
        <activity android:name=".Server_batting_first" />
        <activity android:name=".Server_bowling_first"></activity>
    </application>

</manifest>